@{
  Layout = "_Layout";
}
<form  action="/PlayerOneSelection" method="post">
  <div class="form-group">
    <label for="player-one">Player 1:</label>
    <input class="form-control" type="text" name="player-one">
  </div>
  <div class="form-group">
    <label for="player-two">Player 2:</label>
    <input class="form-control" type="text" name="player-two">
  </div>
  <button type="submit" name="button" class="btn btn-primary">Submit</button>
</form>
