@{
  Layout = "_Layout";
}

<form  action="/Results" method="post">
  <div class="form-group">
    <label for="player-two-selection">Player 2 Selection:</label>
    <select name="player-two-selection">
      <option value="Rock">Rock</option>
      <option value="Paper">Paper</option>
      <option value="Scissors">Scissors</option>
    </select>
  </div>
  <button type="submit" name="button" class="btn btn-primary">Submit</button>
</form>
